<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

     <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="search" v-model="keyWord">
        <button @click="sortType = 0">原顺序</button>
        <button @click="sortType = 1">升序</button>
        <button @click="sortType = 2">降序</button>
        <ul>
            <li v-for="(p, index) in filteredPersons" :key="p.id">
                {{p.name}} - {{p.age}}
            </li>
        </ul>
     </div>
</body>

<script type="text/javascript">

    const vm = new Vue({
        el:'#root',
        data:{
            persons: [
                {id: '001', name: '马冬梅', age: 33},
                {id: '002', name: '周冬雨', age: 19},
                {id: '003', name: '周杰伦', age: 17},
                {id: '004', name: '温兆伦', age: 21},
            ],
            keyWord: '',
            sortType: 0, // 0原顺序 1升序 2降序
        },
        computed: {
            filteredPersons() {
                const filPerson = this.persons.filter((p) => {
                    return p.name.indexOf(this.keyWord) !== -1;
                })
                if (this.sortType) {
                    filPerson.sort((p1, p2) => {
                        return this.sortType === 1 ? p1.age - p2.age : p2.age - p1.age;
                    })
                }
                return filPerson;
            }
        }
    })
</script>
</html>