<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    
     <div id="root">
        姓: <input type="text" v-model="lastName"> <br><br>
        名: <input type="text" v-model="firstName"> <br><br>
        姓名: <span>{{fullName()}}</span>
     </div>
</body>

<script type="text/javascript">
    const vm = new Vue({
        el:'#root',
        data:{
            firstName: '三',
            lastName: '张'
        },
        methods: {
            // fullName: function() {
            //     return this.lastName + '-' + this.firstName;
            // }
            fullName() { // 简写
                return this.lastName + '-' + this.firstName;
            }
        }
    })
</script>
</html>